/* Carrinho.module.css */

.cartContainer {
  width: 350px; /* Aumentando a largura para mais espaço */
  background-color: #5fccce;
  border-radius: 15px;
  padding: 2rem; /* Aumentando o padding */
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px;
  margin: 1.5rem; /* Aumentando o espaço ao redor */
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

/* Cabeçalho do carrinho */
.cartHeader {
  display: flex;
  align-items: center;
  font-size: 1.6rem; /* Aumentando ligeiramente o tamanho da fonte */
  font-weight: bold;
  margin-bottom: 1.5rem; /* Adicionando mais espaço abaixo do cabeçalho */
}

.cartIcon {
  margin-right: 0.75rem;
}

/* Itens do carrinho com altura ajustável */
.cartItems {
  max-height: 350px; /* Aumentando a altura máxima para mais itens */
  overflow-y: auto;
  margin-bottom: 1.5rem;
}

.cartItems ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Cada item do carrinho */
.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #ffffff;
  color: #266364;
  border-radius: 12px; /* Ajustando o arredondamento */
  padding: 0.75rem; /* Aumentando o padding interno */
}

.cartImage {
  width: 60px; /* Aumentando ligeiramente o tamanho da imagem */
  height: 60px;
  border-radius: 12px;
  margin-right: 0.75rem;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemName {
  font-weight: bold;
  font-size: 1.1rem;
}

.itemQuantity {
  font-size: 0.9rem; /* Aumentando ligeiramente o tamanho da fonte */
  color: #555;
}

.cartTotal {
  font-size: 1.4rem; /* Aumentando o tamanho da fonte para destaque */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.checkoutButton {
  text-align: center;
}

.checkoutButton a {
  text-decoration: none;
  background-color: #266364;
  color: #ffffff;
  padding: 1rem 2rem; /* Aumentando o padding para um botão mais encorpado */
  border-radius: 20px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.checkoutButton a:hover {
  background-color: #1e5053;
}

.emptyCart {
  text-align: center;
  font-size: 1.1rem; /* Aumentando ligeiramente o tamanho da fonte */
  color: #e0e0e0;
}
