.container img {
  padding: 0;
  margin: 0;
  height: 12em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #5fcdce;
}
.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-right: 3em;
  height: 15vh;
  font-size: 1.1em;
}
.contact svg {
  color: #cceb56;

  font-size: 1.8em;
}
.phoneNumber,
.instagram {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phoneNumber:hover,
.instagram:hover {
  font-weight: bold;
}

/* .contact svg {
  margin-left: 0.5em;
  color: #cceb56;
  border: 1px solid #cce5b6;
  border-radius: 50%;
  padding: 3px;
} */
@media (max-width: 500px) {
  .contact {
    display: none;
  }
  .container {
    justify-content: center;
  }
}
