.container {
  background-image: url("../imgs/pata3.jpg");
  height: 90vh;
  margin: 0 auto;
  padding: 15em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.icon {
  font-size: 2rem;
  margin: 0 15px;
  color: #333; /* Change this color to match your theme */
  transition: color 0.3s ease;
}

.icon:hover {
  color: #007bff; /* Change this color for hover effect */
}
@media (max-width: 900px) {
  .container {
    justify-content: start;
    align-items: flex-start;
    padding: 0;
    padding: 5%;
    width: 90%;
    height: 100%;
  }
}
