.container {
  padding: 5em;
  padding-top: 1em;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  font-size: 2em;
  margin: 0;
}
.container h2 {
  width: 100%;
  margin-bottom: 80vh;
  text-align: center;
}

.container svg {
  font-size: 1.5em;
}

.container p {
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  color: #266364;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container2 {
  font-size: 0.5em; /* Adjusted font size */
  width: 100%;
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center; /* Adjusted to center items */
}

.container2 img {
  height: 5em;
}
.tabela {
  width: 80%;
  border-collapse: collapse;
  margin-top: 1em;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabela th,
.tabela td {
  padding: 0.8em;
  text-align: center;
}

.tabela th {
  background-color: #266364;
  color: white;
}

.tabela td {
  border-top: 1px solid #e0e0e0;
}
.cabecalho {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.bottom {
  margin-bottom: 10.5vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}
.bottom span {
  background-color: #266364;
  padding: 1em;
  color: white;
  font-weight: bold;
  border-radius: 30px;
}
.bottom button {
  border-radius: 30px;
  box-sizing: content-box;
  width: 400px;
  height: 2em;
  border: none;
  color: rgba(255, 255, 255, 0.473);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  background-color: #2663648e;

  cursor: pointer;
}
.bottom button:hover {
  transition: 0.2s;
  color: white;
  font-weight: 800;
  background-color: #266364;
}
.removeButton button {
  font-size: 1em;
  background-color: red;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.quantidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quantidadeSelect {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.quantidadeSelect button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3em;
  height: 100%;
  margin: 0em 0.3em 0em 0.3em;
  font-size: 1em;
  border-radius: 10px;
}
.removerItem {
  border: none;
  cursor: pointer;
  background-color: red;

  color: white;
}
.adicionarItem {
  border: none;
  cursor: pointer;
  background-color: green;
  color: white;
}
.tabela button:hover {
  box-shadow: 0px 0px 2px 0px black;
}
.tipo {
  font-size: 0.8em;
}
.nomeItem {
  font-weight: bold;
}
@media (max-width: 900px) {
  .bottom {
    margin: 0;
    flex-direction: row-reverse;
    margin-top: 2em;
    justify-content: center;
    padding: 0;
    font-size: 0.4em;
  }
  .bottom button {
    width: 7em;
  }
  .tabela {
    font-size: 0.7em;
  }
  .tabela td button {
    border-radius: 10px;
    font-size: 0.9em;
  }
  .bottom button:hover {
    font-weight: normal;
  }
  .bottomItems {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .bottomItems span {
    margin-right: 5em;
  }
}
