.page {
  background-color: #5fcdce80;
  background-image: url("../../imgs/pata2.jpg");
  background-repeat: repeat;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start; /* Change 'start' to 'flex-start' */
  overflow: hidden;
  min-height: 100vh;
  padding-top: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
  width: 80%;
}

.container div {
  margin-bottom: 2em;
}

.page div {
  margin-right: 1em;
  margin-left: 1em;
}

@media (max-width: 900px) {
  .page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
